{% extends 'base.html' %}
{% load socialaccount %}


{% block title %}
    Log In
{% endblock %}

{% block content %}
    <style>
        /* Common Styles Start */
        body {
            background-color: #f4f4f4;
        }

        #content {
            margin-top: 0;
        }

        form {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 80px;
        }

        h1, h2 {
            font-weight: bold;
        }

        label {
            display: block;
            margin-bottom: 12px;
            font-size: 18px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
        }

        button {
            background-color: rgb(0, 0, 139);
            color: white;
            padding: 14px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
        }

        button:hover {
            background-color: #45a049;
        }

        p {
            margin-top: 20px;
            font-size: 16px;
        }

        a {
            color: rgb(0, 0, 139);
            font-size: 16px;
        }
        /* Common Styles End */

        /* Page-Specific Styles Start */
        /* Add any additional styles specific to this page */
        /* Page-Specific Styles End */
    </style>

    <form method="post" style="max-width: 500px; margin: 0 auto; margin-top: 50px; ">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
            Login
        </button>
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <p><a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
            
        </p>
    </form>
{% endblock %}
